:root {
    --color-primary: #FF7F99;
    --color-secondary: #FFCA41;
    --color-background: #FFFFFF;
    --color-text-description: #000000;
    --color-text-especiality: #000000;
    --color-text-button: #FFFFFF;
    --size-h1: 2.8rem;
    --background-button: rgba(251, 255, 0, 0.2);
}



* { 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}



.header {
    background-color: var(--color-primary);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
}


.header__logo {
    color: var(--color-background);
}


.header__logo--yellow {
    color: var(--color-secondary);
}

.header__nav {
    width: 100%;
}

.header__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: var(--color-text-button);
}




.header__item--contact {
    background-color: var(--color-secondary);
    border-radius: 0.4rem;
    background-color: var(--background-button);
    border: var(--color-secondary) 0.1rem solid;
}


.header__item {
    padding: 0.2rem 2rem;
}

.header__logo{
    font-size: var(--size-h1);
    gap: 2rem;
}

.home__container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.home__title {
    color: var(--color-primary);
    font-weight: 400;
}

.home__subtitle{
    color: var(--color-text-description);
    font-size: 1.2rem;
}

.home__contact {
    width: 8rem;
    background-color: #FFCA41;
    text-align: center;
    padding: 0.4rem;
    border-radius: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.home__image-wrapper {
    background-color: var(--color-primary);
    width: 14rem;
    height: 14rem;
    border-radius: 28rem 0 28rem 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
}