:root {
    --color-primary: #FF7F99;
    --color-secondary: #FFCA41;
    --color-background: #FFFFFF;
    --color-text-description: #000000;
    --color-text-especiality: #000000;
    --color-text-button: #FFFFFF;
}



* { 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



.footer {
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 2rem;
    padding: 0.4rem;
}


.consultant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid black 0.1rem;
    width: 90%;
 
}




.consultant__image {
    width: 100%;
}

.consultant__text-container {
    text-align: center;
}

.consultant__name {
    font-size: 0.8rem;
}

.consultant__work {
    font-size: 0.8rem;
}



.consultant__link-image {
    width: 1.8rem;
}